@model SimpleForms.Models.UserField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserField</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Field.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
